

@{
    ViewBag.Title = "";
}

<div style="color:darkslategray; font-size:16px">
    <h2>Koji nam je cilj?</h2><br />

    <p>
        Saobraćajne nezgode najveći su uzrok smrti mladih ljudi u dobi od 15 - 29
        godina.<br /> <br />
        Sigurnost saobraćaja i prevencija saobraćajnih nezgoda vrlo su kompleksne
        oblasti. <br />
        Kako bi se u njima postigli što bolji rezultati, bitno je poznavati
        uzroke nezgoda, <br />
        načine unaprjeđenja sigurnosti i načine za poboljšanje
        sigurnosti za učesnike u saobraćaju.<br /> <br />
        Za osiguranje bolje sigurnosti potrebno je učiniti niz mjera, ali jedna od primarnih je<br />
        kreiranje baze koja će služiti za analizu najčešćih lokacija saobraćajnih nesreća i sudionika u istim.<br />

    </p>
</div>
<br />

<h3 style="color:darkslategray"> Uprava policije</h3>

<br />

<img src="~/Images/uprava.png">



<p></p>
