@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>


<address>
    <h4> <strong> Sarajevo</strong> <br /> </h4>
    La Benevolencije 16<br />
    Centrala <br />
    <abbr title="Phone">Tel: </abbr>
    +387(0)33 286-700
    <br />
    <p>
        ID BR: Ministarstvo 4200220350006 <br />
        Uprava policije 4200220350146
    </p>
</address>

<address>
    <strong>UPRAVA ADMINISTRACIJE</strong> <br />
    Pomoćnik ministra <br />
    <abbr title="Phone">Tel: </abbr>
    +387(0)33 286-732 <br />
    +387(0)33 286-731<br />
    <a href="mailto:upravaadministracije@mup.ks.gov.ba"> upravaadministracije@mup.ks.gov.ba</a><br />

</address>

<address>
    <strong>UPRAVA PODRŠKE </strong> <br />

    <abbr title="Phone">Tel: </abbr>
    +387(0)33 286-770 <br />
    +387(0)33 286-771 <br />
    <a href="mailto:upravapodrske@mup.ks.gov.ba"> upravapodrske@mup.ks.gov.ba</a><br />
</address>




<br />
<div style="font-style:italic;color:midnightblue">
    <p >   Realised by:  </p>
    <ul class="nav navbar-nav" >
        <li style="width:245px;">
              Emina Salkanović
            <address>
                <a href="mailto:eminasalkanovic@outlook.com" style="">eminasalkanovic@outlook.com</a>
                <br />
            </address>
        </li>
        <li style="width:215px; ">
              Amra Fočo
            <address>
                <a href="mailto:focoamra@gmail.com" style="">focoamra@gmail.com</a>
                <br />
            </address>
        </li>
        <li style="width:230px;">
            Sadina Rašidović
            <address>
                <a href="mailto:sadinarasidovic@outlook.com" style="">sadinarasidovic@outlook.com</a>
                <br />
            </address>
        </li>
        <li style="width:225px;">
            Amela Pračić
            <address>
                <a href="mailto:amela_pracic@hotmail.com" style="">amela_pracic@hotmail.com</a>
                <br />
            </address>
        </li>


        <li style="width:225px;">
            Amina Safić
            <address>
                <a href="mailto:aminasafic61@gmail.com" style="">aminasafic61@gmail.com</a>
                <br />
            </address>
        </li>
        <br />
    </ul>

</div>
<br />

