@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <br />
    <br />
    <h1>Registar saobraćajnih prekršaja</h1>
    <br /><br />
    
    <p>
        <br />
       
        <a class="btn btn-primary btn-lg" href="/Home/About"> O nama </a>
    </p> 
</div>

<div class="row">
    <!--
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful,
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that make</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
        -->
</div>